body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
p{
  margin-bottom: 0;
}
code{
  color: #198754;
  display: inline-block;
  background-color: #F8F9FA;
  font-family: "Roboto Mono";
}
